
.BotonMenu{
    color: white;
    width: 100px;
    font-size: xx-large;
}

.translucent{
    text-align: center;
    color:white ;
    font-size: xx-large;
    
}
.MensajeMenu{
    color: black;
    
}